.card-body {
  transition: opacity 0.25s ease-in-out;
}

.card-img-top {
  transition: transform 0.25s ease-in-out;
}

.card:hover .card-body {
  opacity: 0.6;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

section {
  margin-bottom: 3em;
}

.jumbotron {
  background-color: white;
}

.indent_text {
  text-indent: 3em;
}

.bigger_section {
  height: 20em;
}

.important_paragraph {
  padding-bottom: 2em;
  width:30%;
  font-style: bold;
}

.test {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

